@font-face {
	font-family: 'PreludeWGL';
	src: url('fonts/PreludeWGL-Medium.eot');
	src: local('☺'), url('fonts/PreludeWGL-Medium.woff') format('woff'), url('fonts/PreludeWGL-Medium.ttf') format('truetype'), url('fonts/PreludeWGL-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PreludeWGL';
	src: url('fonts/PreludeWGL-Bold.eot');
	src: local('☺'), url('fonts/PreludeWGL-Bold.woff') format('woff'), url('fonts/PreludeWGL-Bold.ttf') format('truetype'), url('fonts/PreludeWGL-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_PreludeWGL-Medium';
	src: url('fonts/PreludeWGL-Medium.eot');
	src: local('☺'), url('fonts/PreludeWGL-Medium.woff') format('woff'), url('fonts/PreludeWGL-Medium.ttf') format('truetype'), url('fonts/PreludeWGL-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_PreludeWGL-Bold';
	src: url('fonts/PreludeWGL-Bold.eot');
	src: local('☺'), url('fonts/PreludeWGL-Bold.woff') format('woff'), url('fonts/PreludeWGL-Bold.ttf') format('truetype'), url('fonts/PreludeWGL-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_PreludeWGL-Light';
	src: url('fonts/PreludeWGL-Light.eot');
	src: local('☺'), url('fonts/PreludeWGL-Light.woff') format('woff'), url('fonts/PreludeWGL-Light.ttf') format('truetype'), url('fonts/PreludeWGL-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
