.fullscreen {
	width: 100vw;
	height: 100vh;
}

#app-loading {
	font-family: 'Conv_PreludeWGL-Light';
	color: #f8f8f8;
}

.loading-content {
	text-align: center;
}

.loading-content img {
	width: 90%;
}

.loading-content .title {
	margin-top: -1em;
	font-size: 3em;
	margin-bottom: 1em;
}

.progress-content {
	width: 100%;
	height: 1.2em;
}

.progress {
	border-radius: 20px;
	height: 1.2em;
	width: 100%;
}

.progress-container {
	background-color: rgba(248, 248, 248, 0.2);
}

.progressbar {
	background-color: rgba(248, 248, 248, 0.6);
}

.loading-content .progress-text {
	font-size: 1.2em;
}

.loading-about {
	position: fixed;
    bottom: 10px;
	width: 100%;
	text-align: center;
}
